## KBO Batting Dataset - Data Analysis and Model Building Report

## 1. Introduction

The purpose of this report is to analyze the KBO (Korean Baseball Organization) Batting dataset and build a machine learning model using DBSCAN clustering. The report covers dataset exploration, preprocessing, missing value handling, model building, evaluation, and conclusions.

## 2. Libraries Used

The following Python libraries were used in this project:

- **Pandas**: For data manipulation and analysis

- **NumPy**: For numerical computations

- **Matplotlib & Seaborn**: For data visualization

- **Scikit-learn**: For machine learning and clustering (DBSCAN)

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler

## 3. Dataset Overview

The dataset consists of batting statistics of players in the Korean Baseball Organization. The data includes various performance metrics such as hits, runs, home runs, batting averages, etc.

### 3.1 Number of Rows and Columns

In [15]:
df = pd.read_csv(r"C:\Users\Shaik Sakhlaih\Downloads\kbobattingdata.csv")
print(df.shape)

(323, 27)

### 3.2 Column Names

In [16]:
print(df.columns)

Index(['year', 'team', 'average_batter_age', 'runs_per_game', 'games',
       'plate_appearances', 'at_bats', 'runs', 'hits', 'doubles', 'triples',
       'homeruns', 'RBI', 'stolen_bases', 'caught_stealing', 'bases_on_balls',
       'strikeouts', 'batting_average', 'OBP', 'SLG', 'OPS', 'total_bases',
       'GDP', 'HBP', 'sacrifice_hits', 'sacrifice_flies', 'IBB'],
      dtype='object')

## 4. Exploratory Data Analysis (EDA)

### 4.1 Displaying First Few Rows

In [17]:
print(df.head())

   year           team  average_batter_age  runs_per_game  games  \
0  2021    SSG Landers                30.9           5.26    143
1  2021   Doosan Bears                29.0           5.13    143
2  2021   Lotte Giants                29.0           5.06    143
3  2021  Kiwoom Heroes                27.1           5.01    143
4  2021         KT Wiz                29.4           4.97    143

   plate_appearances  at_bats  runs  hits  doubles  ...  batting_average  \
0               5698     4864   752  1268      203  ...            0.261
1               5606     4867   733  1306      234  ...            0.268
2               5689     4978   723  1384      263  ...            0.278
3               5610     4839   716  1250      243  ...            0.258
4               5581     4773   711  1263      217  ...            0.265

     OBP    SLG    OPS  total_bases  GDP  HBP  sacrifice_hits  \
0  0.354  0.421  0.775         2049  104   93              55
1  0.350  0.391  0.741         1901  137   86              45
2  0.356  0.399  0.755         1985  114   53              37
3  0.347  0.376  0.722         1819   92   93              34
4  0.356  0.380  0.736         1814  105   58              68

   sacrifice_flies   IBB
0               52  23.0
1               52  12.0
2               45  18.0
3               55  17.0
4               43  27.0

[5 rows x 27 columns]

### 4.2 Summary Statistics

In [18]:
print(df.describe())

              year  average_batter_age  runs_per_game       games  \
count   323.000000          323.000000      323.00000  323.000000
mean   2002.944272           27.785759        4.61161  128.142415
std      11.501957            1.335393        0.73503   12.996350
min    1982.000000           24.300000        2.71000   80.000000
25%    1993.000000           26.800000        4.00500  126.000000
50%    2003.000000           27.900000        4.59000  128.000000
75%    2013.000000           28.900000        5.15500  133.000000
max    2021.000000           30.900000        6.57000  144.000000

       plate_appearances      at_bats        runs         hits     doubles  \
count         323.000000   323.000000  323.000000   323.000000  323.000000
mean         4919.773994  4293.430341  595.095975  1146.535604  197.798762
std           585.491296   508.741014  132.387325   179.164714   39.628473
min          2953.000000  2628.000000  302.000000   637.000000  110.000000
25%          4658.000000  4074.500000  495.500000  1028.000000  170.500000
50%          4963.000000  4317.000000  590.000000  1143.000000  197.000000
75%          5267.500000  4569.000000  693.500000  1264.000000  222.000000
max          5870.000000  5176.000000  944.000000  1601.000000  304.000000

          triples  ...  batting_average         OBP         SLG         OPS  \
count  323.000000  ...       323.000000  323.000000  323.000000  323.000000
mean    21.139319  ...         0.266207    0.341700    0.395248    0.736882
std      8.154702  ...         0.015558    0.017005    0.038147    0.052787
min      3.000000  ...         0.219000    0.293000    0.301000    0.595000
25%     15.000000  ...         0.255000    0.329000    0.366500    0.698000
50%     20.000000  ...         0.267000    0.342000    0.391000    0.733000
75%     26.000000  ...         0.276500    0.355000    0.421500    0.774500
max     62.000000  ...         0.309000    0.382000    0.509000    0.891000

       total_bases         GDP         HBP  sacrifice_hits  sacrifice_flies  \
count   323.000000  323.000000  323.000000      323.000000       323.000000
mean   1706.359133   97.151703   66.027864       75.037152        37.368421
std     318.395835   18.809569   20.232864       25.553838        10.760400
min     914.000000   36.000000   24.000000       21.000000        11.000000
25%    1490.000000   85.000000   51.500000       56.000000        30.000000
50%    1673.000000   96.000000   65.000000       74.000000        37.000000
75%    1928.000000  111.000000   80.000000       91.000000        44.000000
max    2518.000000  148.000000  130.000000      153.000000        83.000000

              IBB
count  184.000000
mean    17.788043
std      6.200094
min      5.000000
25%     14.000000
50%     17.000000
75%     21.250000
max     39.000000

[8 rows x 26 columns]

### 4.3 Checking Data Types

In [19]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323 entries, 0 to 322
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                323 non-null    int64
 1   team                323 non-null    object
 2   average_batter_age  323 non-null    float64
 3   runs_per_game       323 non-null    float64
 4   games               323 non-null    int64
 5   plate_appearances   323 non-null    int64
 6   at_bats             323 non-null    int64
 7   runs                323 non-null    int64
 8   hits                323 non-null    int64
 9   doubles             323 non-null    int64
 10  triples             323 non-null    int64
 11  homeruns            323 non-null    int64
 12  RBI                 323 non-null    int64
 13  stolen_bases        184 non-null    float64
 14  caught_stealing     184 non-null    float64
 15  bases_on_balls      323 non-null    int64
 16  strikeouts          323 non-null    int64
 17  batting_average     323 non-null    float64
 18  OBP                 323 non-null    float64
 19  SLG                 323 non-null    float64
 20  OPS                 323 non-null    float64
 21  total_bases         323 non-null    int64
 22  GDP                 323 non-null    int64
 23  HBP                 323 non-null    int64
 24  sacrifice_hits      323 non-null    int64
 25  sacrifice_flies     323 non-null    int64
 26  IBB                 184 non-null    float64
dtypes: float64(9), int64(17), object(1)
memory usage: 68.3+ KB
None

## 5. Handling Missing Values

### 5.1 Checking for Null Values

In [21]:
print(df.isnull().sum())

year                    0
team                    0
average_batter_age      0
runs_per_game           0
games                   0
plate_appearances       0
at_bats                 0
runs                    0
hits                    0
doubles                 0
triples                 0
homeruns                0
RBI                     0
stolen_bases          139
caught_stealing       139
bases_on_balls          0
strikeouts              0
batting_average         0
OBP                     0
SLG                     0
OPS                     0
total_bases             0
GDP                     0
HBP                     0
sacrifice_hits          0
sacrifice_flies         0
IBB                   139
dtype: int64

### 5.2 Replacing Missing Values

Missing values can be handled by:

- Filling numerical columns with their **mean/median**

- Filling categorical columns with **mode**

In [ ]:
df.fillna(df.mean(), inplace=True)
df.fillna(df.mode().iloc[0], inplace=True)

## 6. Data Preprocessing

### 6.1 Standardizing the Data

DBSCAN requires normalized data, so we use `StandardScaler`:

In [ ]:
scaler = StandardScaler()
df_scaled = scaler.fit_transform(df.select_dtypes(include=[np.number]))

## 7. Model Building

We apply DBSCAN clustering to identify groups of similar players.

In [ ]:
dbscan = DBSCAN(eps=0.5, min_samples=5)
df['cluster'] = dbscan.fit_predict(df_scaled)

### 7.1 Visualizing Clusters

In [ ]:
plt.scatter(df_scaled[:, 0], df_scaled[:, 1], c=df['cluster'], cmap='viridis')
plt.xlabel("Feature 1")
plt.ylabel("Feature 2")
plt.title("DBSCAN Clustering of KBO Batting Data")
plt.show()

## 8. Model Evaluation

DBSCAN does not use traditional accuracy metrics but can be evaluated based on:

- **Number of clusters formed**

- **Noise points (label = -1)**

In [ ]:
print(df['cluster'].value_counts())

## 9. Conclusion

- The dataset was successfully preprocessed and analyzed.

- Missing values were handled using appropriate techniques.

- DBSCAN clustering was applied to group players based on their batting statistics.

- The results showed distinct clusters and some noise points.

- Future improvements could include hyperparameter tuning and feature selection.

This report provides a detailed overview of the analysis and model-building process using DBSCAN on the KBO Batting dataset.